h1  { background-color:rgb(255, 215, 0); }
h2  { background-color:rgb(255, 215, 0); }
#rojo  { color:rgb(178, 34, 34); }
#verde  { color:rgb(0, 128, 0); }
.mas-gusta { color:rgb(255, 69, 0); } 
.mas-gusta { background-color:rgb(178, 34, 34); }